body {
    background-color: #eeeeee;
}

.navbar-img {
    width: auto;
    height: 80px;
}

.bg-body-tertiary {
    background-color: #26cd85 !important;
}

.btn {
    background-color: #a6c6a4;
}


.list-nav {
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.img-grande {
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.carousel {
    margin-top: 20px; 
}


.titulos {
    border: 3px solid #a6c6a4;
    display: inline-block;
    padding: 5px;
    background-color: #a6c6a4;
}

.cuadro_compra {
    border: 5px solid #26cd85;
    background-color: #26cd85;
    margin-bottom: 50px;
}

.card-body {
    background-color: #eeeeee;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    flex: 1 1 200px; 
    max-width: 18rem; 
}

.ocultable {
    display: none;
}

.ocultable:target {
    display: block;
}


@media (max-width: 576px) {
    .card {
        flex: 1 1 100%; 
        max-width: 100%; 
    }
}


.cuadro-informacion {
    border: 5px solid #26cd85;
    background-color: #26cd85;
    margin-bottom: 50px;
}

.texto-parrafo {
font-size: large;
}

.pie_logo {
    width: 100px;
    height: auto;
}

.pie_lista {
    font-size: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: auto; 
    margin-bottom: 10px;
    border: 5px solid #26cd85;
    background-color: #26cd85;
    padding: 10px; 
}

.footer {
    min-height: 100%;
    margin-top: auto;
}


@media (max-width: 576px) {
    .pie_lista {
        font-size: 20px; 
        flex-direction: column; 
        align-items: center; 
    }

    .pie_logo {
        width: 80px; 
    }
}
